
.chat-section{
  overflow: hidden;
}
.navbar-wrap {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index:20;
  background: linear-gradient(90deg, #1e2931 0%, #384c59 75%);
  transition: all ease-in .3s;
  box-shadow: 9px 7px 10px -6px rgba(0, 0, 0, 0.25);
}
.nav-fix{
  position: fixed;
  top: 0;
}
.header-row-5co{
  z-index: 20;
  padding: 0 75px;
}
.header-row-5co a{
  font-family: 'Didact Gothic', sans-serif;
  color: #DADFD3 ;
  font-size: 16px;
}
.nav-li-items div {
    padding: 0px 25px 0px 15px;
}
.nav-li-items a {
  font-weight: 500;
  transition: color 300ms ease;
  letter-spacing: 1px;
  line-height: 1.5;
  /*cursor: pointer;*/
  font-size: 16px;
  padding-bottom: 15px;
  position: relative;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
}
.chat-section{
  background-color: #313E4E;
  height:100vh;
}
.fixed, .fluid{
    padding:20px;
}
.fixed {
  float:left;
  width:90px;
  background-color:#313E4E;
  border-right: 1px solid #757D8E;
}
.fluid {
  width: 100%;
  overflow:hidden;
  background-color:#313E4E;
}
.chat-layout-wrapper{
  height: 100%;
  /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #1e2931 0%, #384c59 75%);
}
.chat-layout-wrapper .left{
  height: calc(100vh - 100px);
  width: 300px;
  z-index: 5;
  top: 100px;
  padding-top: 30px;
  /*margin-top: 50px;*/
  position: absolute;
}
.left .left-list{
  padding: 16px 0 16px 67px;
  margin-left: 3px;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  background: transparent;
  border-left:3px solid #1e2931;
}
.left-list h3{
  /*font-family: 'Dosis', sans-serif;*/
  font-family: 'Didact Gothic', sans-serif;
  color: #9c9c9c;
  margin: 0;
  font-weight: 300;
  font-size:18px;
}
.left .left-list:hover{
  background-color: #2c3c46;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  border-left: 3px solid #1c8d72;
}
.left .left-list:hover > h3{
  color: #ffffff;
}
.left .abs-bottom{
  padding-top: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #2c3c46;
}
.ti-icons{
  margin: 25px auto;
  font-size: 26px;
  color: #757D8E ;
}
.chat-layout-wrapper .center{
  background: #F7FAFD;
}
.chat-layout-wrapper .center .top{
  height: calc(100% - 80px);
  width: 100%;
  border-right: 1px solid #757D8E;
}
.chat-layout-wrapper .center .bottom{
  background: #ffffff;
  height: 80px;
  width: 100%;
}
.chat-layout-wrapper .right{
  /*background: #2D3840 ;*/
  position: relative;
  top: 100px;
  left: 300px;
  margin-right: 150px;
  padding-bottom: 150px;
  overflow: auto;
  padding-right: 150px;
}
.chat-layout-wrapper .center .sent-btn{
  height:60px;
  width: 60px;
}
.chat-layout-wrapper .center .sent-btn{
  padding:10px 5px 5px;
}
.search-results{
  padding: 100px;
}
.result-wrapper{
  margin: 50px 50px 0px 50px;
}
.result-card{
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.75);
  width: 220px;
  padding: 0px;
  height: 310px;
  min-height: 300px;
  background: #fff;
  position: relative;
}
.result-card img{
  height:100%;
  width: 100%;
}
.result-card .rating{
  position: relative;
  top: -80px;
  left: 200;
  z-index: 10;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #DF9052;
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0,1);
}
.result-card .rating p{
  margin: 0;
  text-align: center;
  padding-top: 11px;
  font-weight: 600;
}
.result-wrapper p, .result-wrapper span, .result-wrapper h3{
  font-family: 'Didact Gothic', sans-serif;
  color: #dedede;
}
.text-wrapper{
  width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-wrapper h3{
      color: #fff;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
}
.result-card .bootom p{
  font-family: 'Open Sans Condensed', sans-serif;
}
