<section>
  <div  class="chat-section"layout="column">
    <nav class="navbar-wrap" layout="row" hide-sm hide-xs >
     <div layout="row" layout-align="center center"	class="header-row-5co container">
       <div flex="50">
    		 <a href="#/">Hello, {{ firebaseUser.email }}</a>
    	 </div>
        <div flex="50" layout="row" layout-align="center center" class="nav-li-items">
          <div class="li-item-1" ><a ng-click="signOut()" style="" du-smooth-scroll du-scrollspy >Sign Out</a></div>
        </div>
      </div>
    </nav>
    <div layout="row" class="chat-layout-wrapper">
      <div class="left"layout="row" hide-sm hide-xs flex="35">
        <div class="fixed" layout="column" layout-align="start center">
          <i class="ti-icons ti-dropbox"></i>
          <i class="ti-icons ti-dribbble"></i>
          <i class="ti-icons ti-apple"></i>
          <i class="ti-icons ti-linux"></i>
          <i class="ti-icons ti-wordpress"></i>
          <i class="ti-icons ti-pinterest-alt"></i>
          <i class="ti-icons ti-facebook"></i>
        </div>
        <div class="fluid">Content</div>
      </div>
      <div layout="column" class="center" hide-sm hide-xs flex="40">
        <div class="top"></div>
        <div class="bottom" layout="row" layout-align="center center">
          <div flex="85">
            <input class="input__field input__field--kyo" type="text" id="input-19" />
          </div>
          <div flex='15' layout="row" layout-align="center center">
            <a class="sent-btn"><img src='../images/sent.svg' height="40" width="40"></i></a>
          </div>
        </div>
      </div>
      <div layout="column" class="right" hide-sm hide-xs flex="25">
        <!-- <div class="top"></div>
        <div class="bottom"></div> -->
      </div>
    </div>
  </div>
</section>
