<section>
  <div  class="chat-section"layout="column">
    <div layout="row" class="chat-layout-wrapper">
      <div class="left"layout="column" hide-sm hide-xs>
        <div class="user-info" layout="row" layout-align="center center">
            <img src="images/usericon.png" >
            <div layout="column" style="margin-left:16px;">
              <a href="" ng-click="userDetails($event);">Hello, </br>{{userDetails.username}}</a>
            </div>
        </div>
        <div style="padding-bottom:40px;border-bottom:1px solid #585858">
          <div class="left-list" ng-click="myCollection();">
            <h3>My Collection <span style="float: right;color: #dedede;margin-right: 16px;padding: 0px 12px;border-radius: 10px;background:#C7433B;">{{collection.length}}</span></h3>
          </div>
          <div class="left-list" ng-click="getPopular();">
            <h3>Popular Movies</h3>
          </div>
          <div class="left-list" ng-click="nowPlaying();">
            <h3>Now Playing</h3>
          </div>
          <div class="left-list" ng-click="upcoming();">
            <h3>Upcoming</h3>
          </div>
          <div class="left-list" ng-click="watchLater();">
            <h3>Watch later <span style="float: right;color: #dedede;margin-right: 16px;padding: 0px 12px;border-radius: 10px;background:#C7433B;">{{watch_later.length}}</span></h3>
          </div>
        </div>
        <div style="padding-top:40px;">
          <div class="left-list">
            <h3>Recommendations</h3>
          </div>
          <div class="left-list" ng-cilck="getTopRated();">
            <h3>Top Rated</h3>
          </div>
          <div class="left-list">
            <h3>Artist of the Month</h3>
          </div>
        </div>
        <div class="abs-bottom" >
        </div>
      </div>
      <div class="right" flex hide-sm hide-xs>
        <nav class="navbar-wrap " layout="row" hide-sm hide-xs >
         <div layout="row" layout-align="center center" flex	class="header-row-5co">
           <div class="bottom" flex="60"layout="row" layout-align="center center">
             <div flex="85" layout="row">
               <md-input-container class="md-block search-input" flex-gt-sm>
                 <label>Search...</label>
                 <md-icon class="name"><i class="ti-search"></i></md-icon>
                 <input  style="border:0;color:#FBFBFA;"name="name" ng-model="query" type="text" >
               </md-input-container>
             </div>
             <div flex='15' layout="row" layout-align="center center">
               <md-button style="background:none;border:0;"class="login-btn" ng-click="searchQuery(query);">search</md-button>
             </div>
           </div>
            <div flex="20" layout="row" layout-align="center center" class="nav-li-items">
              <div class="li-item-1" ><a ng-click="signOut()" style="" du-smooth-scroll du-scrollspy ><md-button class="login-btn sign-out" ng-click="writeUserData(user);" >Sign Out</md-button></a></div>
            </div>
          </div>
        </nav>
        <div  layout="row" layout-wrap layout-align="start start" >
          <!-- <img src="http://image.tmdb.org/t/p/original/{{queryData.backdrop_path}}"/> -->
          <div class="result-wrapper" ng-repeat="result in results">
            <div class="result-card" ng-click="fetchDetail(result)">
              <img ng-if="result.poster_path!=''" src="http://image.tmdb.org/t/p/w342/{{result.poster_path}}" />
              <img ng-if="result.poster_path==''" src="images/user.svg" />
              <!-- <p ng-if="result.media_type!='movie'">{{result.name}}</p>
              <p ng-if="result.media_type=='movie'">{{result.title}}</p> -->
              <div class="rating"><p>{{result.vote_average | number:1}}</p></div>
            </div>
            <div class="bottom" layout="column" ng-click="fetchDetail(result)">
              <div class='text-wrapper'>
                <h3 ng-if="result.media_type!='movie'">{{result.title}}</h3>
                <h3 ng-if="result.media_type=='movie'">{{result.title}}</h3>
                <h3>{{result.name}}</h3>
              </div>
              <div style="max-width:180px;overflow:hidden;">
                <span ng-repeat="genre in result.genre track by $index" ng-if="$index<2">{{genre}} </span>
                <span ng-repeat="genre in result.genres track by $index" ng-if="$index<2">{{genre.name}} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
