<section class='login-section'>
  <div class="login-container container" layout="row" layout-align="center center">
    <div class="login-form-wrapper" layout="row">
      <div class="left left-{{loginSignupToggle}}">
        <div class="log-in" layout="column" layout-align='center center'>
          <h2 ng-if="loginForm" >Log In</h2>
          <h2 ng-if="!loginForm">Sign Up</h2>
        </div>
        <div class="form">
          <form name='myform' ng-if="loginForm">
            <md-input-container class="md-block" flex-gt-sm>
              <label>User</label>
              <input  placeholder="" name="name" type="text" ng-model="email" value="" required >
              <div ng-messages="myForm.name.$error">
                <div ng-message="required">Email is required.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Password</label>
              <input  placeholder="" name="password" type="password" ng-model="password" value="" required >
              <div ng-messages="myForm.password.$error">
                <div ng-message="required">Password is required.</div>
              </div>
            </md-input-container>
            <div  layout="column">
              <button class="login-btn" ng-click="signIn(email,password)" ng-href='#/dashbord'>Login</button>
              <span class="forget-txt">Forget password?</span>
            </div>
          </form>
          <form name='myform' class="sign-up-form{{loginSignupToggle}}" ng-if="!loginForm">
            <md-input-container class="md-block" flex-gt-sm>
              <label>User</label>
              <input  placeholder="" name="name" type="text" ng-model="email" value="" required >
              <div ng-messages="myForm.name.$error">
                <div ng-message="required">Email is required.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Password</label>
              <input  placeholder="" data-ng-model='user.password' type="password" name='password' placeholder='password' required >
              <div ng-messages="myForm.password.$error">
                <div ng-message="required">Password is required.</div>
              </div>
            </md-input-container>
            <md-input-container style="margin-bottom:0;"class="md-block" flex-gt-sm>
              <label>Confirm Password</label>
              <input  placeholder="" ng-model='user.password_verify' type="password" name='confirm_password' placeholder='confirm password' required data-password-verify="user.password">
            </md-input-container>
             <div style="font-size:14px;margin:10px auto; text-align:center;" ng-show="myform.confirm_password.$error.passwordVerify">
               Fields are not equal!</div>
            <div  layout="column">
              <button class="login-btn" ng-click="createUser(email,password)" >Sign Up</button>
              <span class="forget-txt">Forget password?</span>
            </div>
          </form>
        </div>
      </div>
      <div class="right right-{{loginSignupToggle}}">
        <div class="sign-up-wrapper">
          <div class="sign-up" layout="column" layout-align='start center'>
            <h2 style="margin:0;">Welcome to OwnApp</h2>
          </div>
          <div class="desc-txt">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend orci sem,
               sit amet gravida sem pretium a. Suspendisse sagittis nunc id turpis faucibus, eget
               gravida quam eleifend. Mauris ut euismod enim. Praesent consequat luctus libero
               vitae suscipit. Quisque rutrum finibus luctus. Mauris vulputate eros in rhoncus
               cursus. In in vestibulum lacus, vitae suscipit mi. Lorem ipsum dolor sit amet,
            </span>
            <div  layout="column">
              <button class="sign-up-btn" ng-click="signUp()">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
