<md-dialog layout="row" ng-controller="myCtrl">
  <md-dialog-content>
    <div class="user-form-wrapper">
      <div style="width:420px;padding:50px;" layout="column" layout-align='start center'>
        <div class="log-in" layout="column" layout-align='center center' style="max-height:100px;">
          <h2>Forget Password</h2>
        </div>
        <div class="form" style="width:100%;">
          <form name='myform' class="sign-up-formyes">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Email</label>
              <md-icon md-svg-src="images/email.svg" class="name"></md-icon>
              <input  placeholder="" name="name" type="text" ng-model="passwordmodal.email">
            </md-input-container>
            <div  layout="column">
              <md-button class="login-btn"   ng-click="passwordReset(passwordmodal.email)">Okay</md-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
<style>
.user-form-wrapper{
  background: #F1F3F7;
  position: relative;
}
md-icon {
    margin: auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 20px;
    width: 20px;
     min-height: 18px !important;
     min-width: 18px !important;
}
  </style>
